{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/cardPage.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/projectColumn.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/card_modal.css') }}" rel="stylesheet">


{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/comments.js') }}"></script>
{% endblock %}

{% if  comments|length == 0 %}
    {% set message = '' %}
{% elseif comments|length == 1 %}
    {% set message = 'Comment' %}
{% else %}
    {% set message = 'Comments' %}
{% endif %}

{% block body %}
    <div class="card-title d-flex gap-2">
        <h1> {{ card.title }} </h1>
        <a href="/card/edit_card/{{ card.id }}">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
    </div>
    <span> Description: </span>
    {{ card.description }}

    <h2 style="margin-top: 20px;">Add new comment </h2>
        {{ form_start(commentForm) }}
             <div class="comments-container d-flex gap-2">
                <div class="circle">{{ app.user.email|slice(0,1)|upper|raw }}</div>
                    {{ form_widget(commentForm.text, {'attr': {'id':'mytextarea', 'class': 'form-control', 'required': false } }) }}
                </div>
                {{ form_widget(commentForm.card, { 'id': 'comment_id', 'attr': { 'id': 'card' } }) }} 
                <div class="d-flex gap-2" style="margin-top: 20px; margin-left: 45px;">                
                    {{ form_widget(commentForm.save, {'attr': { 'class': 'btn btn-primary', 'formnovalidate': 'formnovalidate' } }) }}
                </div>
        {{ form_end(commentForm) }}
        <div class="comments-wapper">
            <h2>{{ message }}</h2>
            {% for comment in comments %}
            <div class="d-flex gap-2 comment-name-area">
                <div class="circle">{{ app.user.email|slice(0,1)|upper|raw }}</div>
                <span class="comment-shadow-text">{{ comment.createdBy.email|raw }}</span>
            </div>
                <p>{{ comment.text|raw }}</p>
                <div class="d-flex gap-2">
                    <span  class="comment-shadow-text">{{ comment.createdAt|date('d-m-Y, h:m:sA') }}</span>
                    {% if comment.createdBy.id == app.user.id %}
                        <i data-comment-id="{{ comment.id }}" data-card-id="{{ card.id }}" class="comment-edit fa-regular fa-pen-to-square"
                        data-comment-text="{{ comment.text|e }}"></i>
                        <a href='/comment/delete/{{comment.id}}'>
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
      </div>
       {% include 'comment/modal-edit-comment.html.twig' %}
{% endblock %}