{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/cardPage.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/projectColumn.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/comments.js') }}"></script>
{% endblock %}

{% if  comments|length == 0 %}
    {% set message = '' %}
{% elseif comments|length == 1 %}
    {% set message = 'Comment' %}
{% else %}
    {% set message = 'Comments' %}
{% endif %}

{% block body %}
    <div class="card-title d-flex gap-2">
        <p>Edit card {{card.description }} </p>
        <a href="/card/edit_card/{{ card.id }}">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
    </div>
    <p> Title: </p>
    {{ card.title }}
    <p> Description: </p>
    {{ card.description }}

    <p>Add new comment </p>
        {{ form_start(commentForm) }}
            {{ form_label(commentForm.text, null, { 'label_attr': { 'class': 'form-label' } }) }}
             <div class="comments-container d-flex gap-2">
                <div class="circle">{{ app.user.email|slice(0,1)|upper|raw }}</div>
                    {{ form_widget(commentForm.text, {'attr': {'id':'mytextarea', 'class': 'form-control', 'required': false } }) }}
                </div>
                {{ form_widget(commentForm.card, { 'id': 'comment_id', 'attr': { 'id': 'card' } }) }} 
                <div class="d-flex gap-2" style="margin-top: 20px; margin-left: 45px;">                
                    {{ form_widget(commentForm.save, {'attr': { 'class': 'btn btn-primary', 'formnovalidate': 'formnovalidate' } }) }}
                    <button type="button" class="btn btn-secondary btn-sm">Close</button>
                </div>
            </div>
        {{ form_end(commentForm) }}
   <p>{{ message }}</p>
   {% for comment in comments %}
   {{ comment.text|raw }}
   {% endfor %}
    </div>
{% endblock %}