{% block stylesheets %}
    <link href="{{ asset('styles/projectColumn.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/column.js') }}"></script>
{% endblock %}

<div class="columns-wrapper">
    {% for column in columns %}
        <div class="column">
            <div class="section-title">
                <div class="title">
                    {{ column.name }}
                </div>
                <a href="{{ path('delete_column', { id: column.id }) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>


    {% endfor %}
    <div class='new-column-container' id='button_add_new_column'>
        <div class='d-none jakasNazwa' data-id="{{ columns[0].project.id }}" id="columnContainer">
            <div id="column-{{ columns|length + 1 }}">
                <label for="columnName-{{ columns|length + 1 }}">Enter list name...</label>
                <input type="text" class="form-control" id="input-column" placeholder="e.g. To do" />
                <button class="btn btn-primary btn-sm add-column-btn">Add list</button>
                <button class="btn btn-secondary btn-sm close-column-btn">X</button>
            </div>
        </div>
        <div class="add-new-column">
                <i class="fa fa-plus"></i> 
                Add new column
        </div>
    </div>
</div>
