{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/projectColumn.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/column.js') }}"></script>
  <script src="{{ asset('scripts/card_modal.js') }}"></script>
{% endblock %}

{% block body %}
    <p>{{project.name}}</p>
    <div class="columns-wrapper">
    {% for column in columns %}
        <div class="column" data-column-id="{{ column.id }}" id="column-{{ column.id }}">
            <div class="section-title">
                <div class="title">
                    {{ column.name }}
                </div>
                <a href="#" class="delete_column_btn" data-column-id="{{ column.id }}" data-delete-url="{{ path('delete_column', { id: column.id }) }}">
                   <i class="fa fa-trash"></i>
                </a>
            </div>
            <div class="card-list">
                {% for card in projectRepo.getCards(column.id) %}
                <a href="/comment/{{ card.id }}">
                    <div class="card-container" data-card-id="{{ card.id }}" data-card-title="{{ card.title }}" data-card-description="{{ card.description }}" data-column-id="{{ column.id }}" data-edit-url="{{ path('edit_card', { id: card.id }) }}">
                        <div class="card-title d-flex gap-2">
                            {{ card.title }}
                            <a href="#" class="delete-card-btn" data-card-id="{{ card.id }}" data-delete-url="{{ path('delete_card', { id: card.id }) }}">
                                <i class="fa-solid fa-x "></i>
                            </a>
                        </div>
                        <div class="card-description">
                            {{ card.description }}
                        </div>
                        <div class="card-comment-container d-flex gap-2 mt-2">
                            <i class="fa-regular fa-message"></i>
                            <div class="card-comment"> {{ projectRepo.getMessages(card.id)|length }}</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <button data-bs-toggle="modal" data-column-id="{{ column.id }}" class="btn btn-primary new-card-modal-btn" data-bs-target="#addCardModal" style="margin-top: 10px;">
                Add new card
            </button>
        </div>
    {% endfor %}
    {% include 'components/card_modal.html.twig' with { 
        'cardForm': addCardForm,
    } %} 
    {% include 'components/card_edit_modal.html.twig' with { 
        'cardForm': editCardForm,
    } %}
    {% include 'components/delete_card_modal.html.twig' %}
        <div class='new-column-container' id='button_add_new_column'>
            <div class='d-none' data-id="{{ columns[0].project.id }}" id="columnContainer">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_widget(form.project) }} 
                    <div class="d-flex align-items-center gap-2" style="margin-top: 10px;">
                        {{ form_row(form.save) }}
                        <button class="btn btn-secondary btn-sm close-column-btn">X</button>
                        </div>
                {{ form_end(form) }}
            </div>
            <div class="add-new-column">
                    <i class="fa fa-plus"></i> 
                    Add new column
            </div>
        </div>
    </div>
{% endblock %}
